<style>
  #map { 
    margin: 2em auto;
    width:100%; 
    height: 40%;
  }
</style>

<h1><%= @trip.name %></h1>

<div id="map" >
  <script>
  var map = L.mapbox.map('map', 'ENV[MAPBOX_API_KEY]')
      .setView([40, -74.50], 9);
  </script>
</div>
<div class="added-stops">
  <ul>
    <% @stops.each do |stop| %>
      <li><%= link_to display_stop(stop), stop_path(stop) %></li>
    <% end %>
  </ul>
  <%= link_to "Add New Stop", new_trip_stop_path(@trip) %>
</div>

<script>
  window.tripId = <%= @trip.id %>
</script>

<%= javascript_include_tag :google_maps %>

<script type="text/javascript">

  $(window).on("ready", function() { getWayPoints() });

</script>