<h1><%= @trip.name %></h1>

<div class="map-canvas" ></div>
<div class="added-stops">
  <ul>
    <% @stops.each do |stop| %>
      <li><%= link_to display_stop(stop), stop_path(stop) %></li>
    <% end %>
  </ul>
  <%= link_to "Add New Stop", new_trip_stop_path(@trip) %>
</div>

<script>
  window.tripId = <%= @trip.id %>
</script>

<%= javascript_include_tag :google_maps %>

<script type="text/javascript">

  $(window).on("ready", function() { getWayPoints() });

</script>