<!DOCTYPE html>
<html>
<head>
  <title>Travelly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-4 box">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
